#
# sync with setup.py
#
cdsapi
dask==2024.11.2
filelock
Flask-Cors==5.0.0
geojson
geopandas
h5netcdf
netcdf4
numpy==1.24.0
pygeoapi
python-dotenv
rioxarray==0.18.2
scipy
boto3
s3fs
shyaml
tifffile
xarray==2024.7.0
zarr
